<script src="https://apis.google.com/js/api.js"></script>
<script>
  var GOOGLE_TRANSLATION_API_KEY = '<%= ENV['GOOGLE_TRANSLATION_API_KEY'] %>';
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<%= render partial: 'shared/error_messages', locals: { object: @message } %>
<html class="h-100">
    <body class="h-100">



<div class="talk_room">
  <div id="center">
  <div class="partner">
  <%= link_to conversations_path do%>
    <i class="bi bi-arrow-bar-left"></i>
  <%end%>
  <%= @message_parson.name %></div>
<%# if @over_ten %>
  <%#= link_to '以前のメッセージ', '?m=all' %>
<%# end %>

<div id="messages_area">
    <% @messages.each do |message| %>
    <% if message.body.present? %>
      <div class="item">
        <div class="content">
        <div class="item <%= message.user == current_user ? 'right' : 'left' %>">
          <div class="header">
            <%= l DateTime.strptime(message.message_time, "%m/%d/%y at %I:%M %p"), format: :short %>
            <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
                <% else %>
              <% end %>
          </div>
          <div class="list">
            <% if message.user == current_user %>
              <div class="item right">
                <div id="right">
                <%= message.body%>
                </div>
                <% if message.image.present? %>
                  <%= image_tag message.image.url, class: "dmimage" %>
                <% end %>
              </div>
            <% else %>
              <div class="item left">
                <%= image_tag message.user.first_image, class: "talk_icon" %>
                <div id="left">
                  <% if message.body.present? %>
                    <div id="message_body"><%= message.body %></div>
                    <!-- 翻訳リンク -->
                    <a href="" class="translate-link" data-message-id="<%= message.id %>", data-conversation-id="<%= message.conversation.id %>", data-original-text="<%= message.body %>"><%= t('do translation') %></a>
                    <!-- 翻訳結果表示エリア -->
                    <div class="translation-result_auto" id="translation_result_auto_<%= message.id %>"></div>
                  <%end%>
                </div>
                <% if message.image.present? %>
                  <%= image_tag message.image.url, class: "dmimage" %>
                <% end %>
              </div>
            <% end %>
                          <%# if message.user == current_user %>
                <%#= message.read ? '既読' : '未読' %>
              <%# end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>


<div class="message_soushin">
  <div class="form-inline">
    <%= form_for([@conversation, @message], remote: true) do |f| %>
      <div class="form-group 2">
        <%= f.text_area :body, class: "form-control", id: "translate" %>
      </div>
      <div class="form-group 3">
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
        <button type="submit" class="soushin">
          <i class="bi bi-cursor"></i>
        </button>
      </div>
    <% end %>
      <div class="form-group 4"><%#-----ここから翻訳%>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal1">
          <%= t('translation') %>
        </button>
        <div class="modal fade" id="modal1" tabindex="-1"
              role="dialog" aria-labelledby="label1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="label1"><%= t('translation') %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <textarea id="input-text" rows="4" cols="50"></textarea>
                  <div>
                    <%= t('before translation')%>:
                    <select id="source-language">
                      <option value="ja"><%= t('japanese')%></option>
                      <option value="ko"><%= t('korean')%></option>
                    </select>
                  </div>
                  <div>
                    <%= t('After translation')%>:
                    <select id="target-language">
                      <option value="ko"><%= t('korean')%></option>
                      <option value="ja"><%= t('japanese')%></option>
                    </select>
                  </div>
                  <button id="translate-btn"><%= t('translation') %></button>
                  </div>
                  </div>
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div>
      </div><%#-----4終わり%>
  </div><%#-----インライン終わり%>
</div><%#-----message soushin終わり%>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</html>

<%# 翻訳ボックスのscript%>
<script>
  document.getElementById("translate-btn").addEventListener("click", () => {
    const textToTranslate = document.getElementById("input-text").value;
    const sourceLanguage = document.getElementById("source-language").value;
    const targetLanguage = document.getElementById("target-language").value;
    fetch("/conversations/<%= @conversation.id %>/messages/1/translate", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": "<%= form_authenticity_token %>",
      },
      body: JSON.stringify({ text: textToTranslate, source_language: sourceLanguage, target_language: targetLanguage }),
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("translate").value = data.translation;
      })
      .catch((error) => console.error("Error:", error));
  });
</script>

<%# 自動翻訳のscript%>
<script>
function translateText(text, messageId, conversationId) {

  $.ajax({
    url: '/conversations/' + conversationId + '/messages/' + messageId + '/translate/auto',
    method: 'POST',
    data: { text: text },
    dataType: 'json',
    headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  },
    success: function (data) {
      console.log(data); 
      $('#translation_result_auto_' + messageId).text(data.translation);
    }
  });
}

$('.translate-link').on('click', function (event) {
  event.preventDefault();
  var messageId = $(this).data('message-id');
  var conversationId = $(this).data('conversation-id');
  var originalText = $(this).data('original-text');

  // メッセージのテキストを翻訳
  translateText(originalText, messageId, conversationId);
});
</script>