<html class="h-100">
    <body class="h-100">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>


<div class="talk_room">
  <div id="center">
  <div class="partner">
  <%= link_to conversations_path do%>
  <i class="bi bi-arrow-bar-left"></i>
  <%end%>
  <%= @message_parson.name %></div>
  
  
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<div id="messages_area">
    <% @messages.each do |message| %>
    <% if message.body.present? %>
      <div class="item">
        <div class="content">
        <div class="item <%= message.user == current_user ? 'right' : 'left' %>">
          <div class="header"><%= l DateTime.strptime(message.message_time, "%m/%d/%y at %I:%M %p"), format: :short %></div>
          <div class="list">
            <div class="item <%= message.user == current_user ? 'right' : 'left' %>">
              <i class="right triangle icon"></i>
              <% unless message.user == current_user %>
              <%= image_tag message.user.first_image, class:"talk_icon" %>
              <% end %>
              <%= message.body %> 
              <% if message.image.present? %>
              <%= image_tag message.image.url, class:"dmimage" %> 
              <% end %>
              <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
              <% end %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<%= form_for([@conversation, @message], remote: true ) do |f| %>

    <%= f.text_area :body, class: "form-control", id: "translate" %>

    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>

    <label for="image-input" class="upload">
    <i class="bi bi-camera"></i>
    </label>
    <%= f.file_field :image, id: "image-input" %>
  </div>
  <div>
    <button type="submit" class="soushin">
      <i class="bi bi-cursor-fill"></i>
    </button>
  </div>
<% end %>
<p>----------------------------------</p>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
  translation
</button>
<div class="modal fade" id="modal1" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">translation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">------
        <h2>翻訳</h2>
          <textarea id="input-text" rows="4" cols="50"></textarea>
          <div>
            翻訳元言語:
            <select id="source-language">
              <option value="ja">日本語</option>
              <option value="ko">韓国語</option>
            </select>
          </div>
          <div>
            翻訳先言語:
            <select id="target-language">
              <option value="ko">韓国語</option>
              <option value="ja">日本語</option>
            </select>
          </div>
          <button id="translate-btn">翻訳</button>
          <p id="translation-result"></p>
          </div>
          </div>
      </div>-------
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

<script>
  document.getElementById("translate-btn").addEventListener("click", () => {
    const textToTranslate = document.getElementById("input-text").value;
    const sourceLanguage = document.getElementById("source-language").value;
    const targetLanguage = document.getElementById("target-language").value;
    fetch("/conversations/<%= @conversation.id %>/messages/1/translate", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": "<%= form_authenticity_token %>",
      },
      body: JSON.stringify({ text: textToTranslate, source_language: sourceLanguage, target_language: targetLanguage }),
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("translate").innerText = data.translation;
      })
      .catch((error) => console.error("Error:", error));
  });
</script>