<%= stylesheet_link_tag 'devise' %>

<div class="sign_up">
  <div class="edit_logo">
    <h3><%= t('devise.registrations.Edit') %></h3>
    <i class="bi bi-pencil" style="font-size: 60px;"></i>
  </div>


<div class="sign_up_form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field1">
    <%= f.label t('devise.registrations.Name') %><br />
    <%= f.text_field :name, autofocus: true, placeholder: t('devise.registrations.Name') %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.Email') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('devise.registrations.Email') %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="field">
    <%= f.label t('devise.registrations.Introduce') %><br />
    <%= f.text_area :introduce, autofocus: true, placeholder: t('devise.registrations.Introduce') %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.Image') %>
    <br><label for= "image-input" class= "event_upload">
      <i class="bi bi-camera"></i>
    <%= f.file_field :images, multiple: true, id: "image-input" %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.Resemble')%><br />
    <%= f.text_field :tag_list, value: @user.tag_list.join(','), class: "form-control_devise", placeholder:t('devise.registrations.Resemble')  %><br>
    <%= t('devise.registrations.If you have more than one, separate them with [,]') %>
  </div>

  <div class="actions">
    <%= button_tag class: 'btn btn-secondary' do %>
    <%= t('devise.registrations.Update')%>
  <% end %>
  </div>
<% end %>


<div><%= button_to t('devise.registrations.cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete ,class:"btn btn-secondary" %></div>

</div>
</div>