<%= stylesheet_link_tag 'devise' %>

<div class="sign_up">
  <div class="signup_logo">
  <h3><%= t('devise.registrations.Sign up') %></h3>
  <i class="bi bi-person-circle" style="font-size: 70px;" ></i>
  </div>

<div class="sign_up_form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field1">
    <%= f.text_field :name, autofocus: true, placeholder: t('devise.registrations.Name') %>
  </div>

  <div class="field">
    <%= f.text_field :age, autofocus: true, placeholder: t('devise.registrations.Age')  %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('devise.registrations.Email') %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> <%= t('characters minimum') %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:t('devise.registrations.Password (6 characters minimum)') %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('devise.registrations.Password confirmation') %>
  </div>

  <div class="field">
    <%= f.text_area :introduce, autofocus: true, placeholder: t('devise.registrations.Introduce'), class: "form-area_devise" %>
  </div>

  <div class="field">
    <%= t('devise.registrations.Image') %>
  <br><label for="image-input" class="event_upload">
      <i class="bi bi-camera"></i>
    <br><%= f.file_field :images, multiple: true, id: "image-input"%>
  </div>

  <div class="field">
    <%= f.text_field :tag_list, value: @user.tag_list.join(','), class: "form-control_devise" ,placeholder: t('devise.registrations.Resemble') %>
  </div>

  <div class="actions">
    <%= button_tag class: 'btn btn-secondary' do %>
  <%= t('devise.registrations.Sign up') %>
<% end %>
  </div>
<% end %>
</div>

<%#= render "devise/shared/links" %>