<%= form_with(model: @topic) do |form| %>
<div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= button_tag t('button_topic_create') %>
  </div>
<% end %>

<p>掲示板一覧</p>
  <% @topics.each do |topic| %>
    <%= topic.name%>
    <%= link_to t('view topic'), topic_path(topic.id)%>
    <%= link_to t('edit'), edit_topic_path(topic.id)%>
    <%= link_to t('delete'), topic_path(topic.id), method: :delete %>
  <% end %>