<div id="follow_form_<%= user.id %>">
  <% unless current_user.following?(user) %>
    <%= form_for(current_user.active_relationships.build(follower_id: user.id), remote: true) do |f| %>
      <%= f.hidden_field :follower_id %>
      <%= f.submit "フォロー" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.active_relationships.find_by(follower_id: user.id), remote: true, method: :delete ) do |f| %>
      <%= f.submit "フォロー解除" %>
    <% end %>
  <% end %>
</div>