<div class="flex-container_folloing">
  <tbody>
  <table width="800px">
    <% @user.following.each_with_index do |user,i| %>
      <tr>
        <td id="user_image_td">
          <%= link_to user_path(user.id) do%>
          <% if user.images.present? %>
          <%= image_tag user.first_image ,class: "user_icon" %>
          <% else %>
          <%= image_tag "default.png", class: "user_icon" %>
          <% end %>
          <% end %>
          <p><%= @distances_following[i] %>km</p>
        </td>
        <td class="user_introduce">
        <% if user.word.present? %>
          <%= user.word %>
          <% end %>
        </td>
        <td><%= render 'users/tag_list', tag_list: user.tag_list %>
        <p id="user_moji"><%= t('maybe similar') %>!?</p></td>
        <% unless user.id == current_user.id %>
        <td><%= render 'follow_form', user: user %></td>
        <% if current_user.followers.exists?(user.id)%>
        <td><%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id),data: {"turbolinks" => false}, method: :post do %>
          <i class="bi bi-envelope-heart"></i></td>
          <% end %>
        <%end%>
    <% end %>
    <% end %>
    </tr>
    </table>
  </tbody>
  </div>