<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h1>ユーザー一覧</h1>

  <%= form_tag users_path, method: :get do%>
  <%= text_field_tag :tag, params[:tag], placeholder: '推しを見つけよう！'%>
  <button class="user_button" type="submit" >
  <i class="bi bi-heart"></i>
  </button>
  <% end %>

<tbody>
  <table width="80%">
    <% @users.each do |user| %>
    <tr>
        <td>
          <%= link_to user_path(user.id) do%>
          <%= image_tag user.image.url, class: "user_icon" %>
          <% end %>
        </td>
        <td><p><%= user.name %></p><p><%= user.age %>age</p></td>
        <td><%= user.introduce %></td>
        <td><%= render 'users/tag_list', tag_list: user.tag_list %></td>
        <td><%= link_to '詳細', user_path(user.id)%></td>
        <% unless user.id == current_user.id %>
        <td><%= render 'follow_form', user: user %></td>
        <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
        <% end %>
        <td><%= link_to '編集', edit_user_registration_path%></td>
        <td><%= link_to '削除', user_registration_path, method: :delete %></td>
    <% end %>
    </tr>
    </table>
  </tbody>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>