<h1>ユーザー一覧</h1>

<tbody>
  <table width="80%">
    <% @users.each do |user| %>
    <tr>
        <td><%= image_tag user.image.url, class: "user_icon" %></td>
        <td><p><%= user.name %></p><p><%= user.age %>age</p></td>
        <td><%= user.introduce %></td>
        <td><%= render 'users/tag_list', tag_list: user.tag_list %></td>
        <% unless user.id == current_user.id %>
        <td><%= render 'follow_form', user: user %></td>
        <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
        <% end %>
        <td><%= link_to '編集', edit_user_registration_path%></td>
        <td><%= link_to '削除', user_registration_path, method: :delete %></td>
    <% end %>
    </tr>
    </table>
  </tbody>