<div class="error_message">
  <%= render partial: 'shared/error_messages', locals: { object: @event } %>
</div>

<div class="event_menu_bar">
  <%= form_tag events_path, method: :get do %>
    <%= text_field_tag :tag, params[:tag], placeholder: t('Off meeting search'), class:"search_container" %>
    <button class="event_button" type="submit">
      <i class="bi bi-search-heart"></i>
    </button>
  <% end %>
</div>

<div class="event_menu_bar_button">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
    <%= t('make event')%>
  </button>
</div>

<div class="modal fade" id="modal1" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centere" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1"><%#ここいるかな？%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="event_format">
            <%= form_with(model: @event) do |form| %>
                <p><%= form.text_field :name, placeholder:t('event_name')  %></p>
                <p><%= form.text_field :place, placeholder: t('place')  %></p>
                <p>
                  <%= form.text_field :start_at, placeholder: t('start_time')%>
                  <br>※YYYYMMDD HH:MM
                </p>
                <p><%= form.text_area :introduce, placeholder:t('Comments from the organizer'), class:"event_textarea"  %></p>
                <p><%= form.text_field :contact, placeholder:t('contact') %></p>
                <p><%= form.text_field :tag_list, value: @event.tag_list.join(','), class: "form-control_event", placeholder: t('Tag') %></p>
                <p>
                  <%=t('event_image') %>
                  <label for="image-input" class="event_upload"><i class="bi bi-camera"></i></label>
                  <%= form.file_field :image, id: "image-input" %>
                </p>
                <p id="event"><button type="submit" class="event_soushin">
                  <i class="bi bi-cursor-fill"></i><%= t('make event')%>
                </button></p>
            <% end %>
        </div>
          <p>【<%=t('Precautions when posting')%>】</p>
          <p><%= t('If you have more than one, separate them with [,]') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<% @events.each do |event| %>
  <div class="event">
    <% if event.image.present? %>
      <%= image_tag event.image.url, id:"image"%>
    <%end%>
    <p id="name"><%= event.name %></p>
    <% if event.start_at.present? %>
      <p id="time"><%= l event.start_at, format: :short %>~</p>
    <% else %>
      <p id="time"><%= t('to be decided') %></p>
    <% end %>
    <p><%= t('Comments from the organizer') %>:</p>
    <div class="introduce">
      <p id="introduce"><%= event.introduce%></p>
    </div>
    <p id="place">
      <i class="bi bi-pin-map-fill"></i>&ensp;
      <a href="http://maps.google.com/maps?q=<%= (event.place) %> "target="_blank" rel="noopener noreferrer"><%= event.place %></a>
    </p>
    <p id="contact"><i class="bi bi-wechat"></i>&ensp;<%= event.contact%></p>
    <p><%= render 'events/tag_list', tag_list: event.tag_list %></p>
    <hr style="border-top: 5px double #e88289; width: 90%; border-bottom: none;">
    <p>&nbsp;</p>
  </div>
<% end %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
