<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マッチングアプリ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light" data-bs-interval="50000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <%= image_tag "image1.webp", alt: "Image 1", class:"image1" %>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1><%= t('meet new people') %></h1>
            <p class="opacity-75"><%= t('Connect with nice people')%></p>
            <p><a class="btn btn-lg btn-primary custom-btn1" href="<%= new_user_registration_path %>"><%= t("lets start") %></a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "pazzle.png", alt: "Image 1", class:"image1" %>
        
        <div class="container">
          <div class="carousel-caption">
            <%#<h1>Another example headline.</h1>%>
            <p><%= link_to t("Log in"), new_user_session_path, class: "btn btn-primary btn-lg custom-btn", role: "button" %></p>
            <p><%= link_to t("Log in guest"), users_guest_sign_in_path, method: :post, class: "btn btn-primary btn-lg custom-btn", role: "button" %></p>
            <p><%= link_to t("Log in admin guest"), users_guest_admin_sign_in_path, method: :post, class: "btn btn-primary btn-lg custom-btn", role: "button" %></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="about_darm">
    <div class="accordion-wrap">
              <div class="accordion-item">
                <p class="accordion-header"> About 닮-DARM-!?<i class="bi bi-hand-index"></i> <i class="fa fa-angle-down" aria-hidden="true"></i> </p>
              </div>
              <div class="accordion-text">
                <p class="accordion detail 1">TOPICS<p>
                <p><%= t('A community between fans is possible with the bulletin board function')%></p>
                <p class="accordion detail 2">EVENT<p>
                <p><%= t('It is possible to post information such as off-meetings')%></p>
                <p class="accordion detail 3">MESSAGE<p>
                <p><%= t('You can directly approach users you care about or users you want to be friends with')%></p>
                <p><%= t('You must follow each other in order to send messages')%></p>
                <p class="accordion detail 4">USER<p>
                <p><%= t('This is the user list screen You can search for users you like by clicking on the tags displayed on the screen or by entering their name in the search bar')%></p>
                <p>
              </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
