<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マッチングアプリ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light" data-bs-interval="50000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <%= image_tag "image1.webp", alt: "Image 1", class:"image1" %>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1><%= t('meet new people') %></h1>
            <p class="opacity-75"><%= t('Connect with nice people')%></p>
            <% unless current_user.present? %>
            <p><a class="btn btn-lg btn-primary custom-btn1" href="<%= new_user_registration_path %>"><%= t("lets start") %></a></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "pazzle.png", alt: "Image 1", class:"image1" %>
        
        <div class="container">
          <div class="carousel-caption">
            <%#<h1>Another example headline.</h1>%>
            <% unless current_user.present? %>
            <p><%= link_to t("Log in"), new_user_session_path, class: "btn btn-primary btn-lg custom-btn", role: "button" %></p>
            <p><%= link_to t("Log in guest"), users_guest_sign_in_path, method: :post, class: "btn btn-primary btn-lg custom-btn", role: "button" %></p>
            <p><%= link_to t("Log in admin guest"), users_guest_admin_sign_in_path, method: :post, class: "btn btn-primary btn-lg custom-btn", role: "button" %></p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>





  <div class="about_darm2">
    <p id= "about"><i class="bi bi-patch-question-fill"></i>About 닮-DARM-<i class="bi bi-patch-question-fill"></i></p>
    <p><%= t('This is an exchange app for otakus that allows you to find users similar to your favorites')%><br>
        <i class="bi bi-search"></i><%= t('It supports automatic translation, so dont worry even if you dont understand the language') %><br>
      <%= t('Find someone with the same hobbies!!!')%>
    </p>
      <details class="darm_details_all">
        <summary><%= t('details') %></summary>
    <table class="darm_table">
      <tr>
        <td id=darm><i class="bi bi-pencil-square"></i></td>
        <td id=darm_setumei>
          ■TOPICS■
        <br><%= t('A community between fans is possible with the bulletin board function')%><td>
      </tr>
      <tr>
        <td id=darm><i class="bi bi-person-hearts"></i></td>
        <td id=darm_setumei>
          ■EVENTS■
        <br><%= t('It is possible to post information such as off-meetings')%></td>
      </tr>
      <tr>
        <td id=darm><i class="bi bi-stopwatch"></i></td>
        <td id=darm_setumei>
          ■TIMES■
        <br><%= t('The timeline (tweets) of the users you follow will now be displayed.')%></td>
        </td>
      </tr>
      <tr>
        <td id=darm><i class="bi bi-person-circle"></i></td>
        <td id=darm_setumei>
          ■USERS■
          <br><%= t('This is the user list screen You can search for users you like by clicking on the tags displayed on the screen or by entering their name in the search bar')%><br>
            <details class="darm_ditails">
              <summary><%= t('Other features') %></summary>
                <%= image_tag '説明掲載用画像_加工済みv2.png', class:"darm_user_image" %></td>
            </details>
      </tr>
      <tr>
        <td id=darm><i class="bi bi-chat-quote"></td>
        <td id=darm_setumei>
          ■MESSAGES■
          <br><%= t('You can directly approach users you care about or users you want to be friends with')%><br>
          <details class="darm_ditails">
              <summary><%=t('detail')%></summary>
                <%= image_tag 'darm_ditail_message.png', class:"darm_user_image" %>
          </details>
          <details class="darm_ditails">
              <summary><%= t('Other features') %></summary>
                <br><%= image_tag 'darm_ditail_message2.png', class:"darm_user_image" %></td>
          
          </details>
      </tr>
    </table>
    </details>
  </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
