<%= stylesheet_link_tag 'devise' %>

<div class="sign_up">
  <div class="signup_logo">
  <h3><%= t('devise.sessions.Log in') %></h3>
  <%= image_tag "logo_touka.png" ,class: "inform_logo" %>
  </div>

<div class="sign_up_form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field1">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('devise.registrations.Email') %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password",placeholder: t('devise.registrations.Password (6 characters minimum)') %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label t('devise.sessions.Remember me') %>
    </div>
  <% end %>

  <div class="actions">
  <%= button_tag class: 'btn btn-secondary' do %>
  <%= t('devise.sessions.Log in') %>
<% end %>

  </div>
<% end %>
</div>
<%#= render "devise/shared/links" %>
</div>
