<%= form_with(model: [topic, post], local: false) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
    <td class="post__content"><%= form.text_area :content %><td>
    <td><%= form.file_field :image %><td>
    <td><%= form.submit %></td>
  </div>
  </table>
<% end %>