<div class="post_form">
<%= form_with(model: [topic, post], local: false) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
    <td class="post__content"><%= form.text_area :content %><td>
    <td><label for="image-input" class="upload_post">
    <i class="bi bi-camera"></i>
    </label></td>
    <%= form.file_field :image, id: "image-input" %>
    <td><button type="submit" class="soushin">
      <i class="bi bi-cursor-fill"></i>
      </button></td>
  </div>
  </table>
<% end %>
</div>